html,
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 100%;
}

#title {
    text-align: center;
    font-style: italic;
    color: #943131;
}

#container {
    background: #fff;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    margin-left: 1px;
}

#filter-title {
    padding-left: 5px;
}

#sidebar {
    font-size: 30px;
    cursor: pointer;
    float: left;
    color: #943131;
}

input {
    margin-left: 10px;
    padding-left: 10px;
    height: 20px;
}

.listedItems {
    list-style-type: circle;
    line-height: 100%;
    font-size: 20px;
}

#map {
    height: 80%;
    position: absolute;
    left: 80px;
    right: 5px;
    bottom: 5px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #aeb59d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  body {
    background-color: blue;
  }

  #map {
    height: 70%;
    position: absolute;
    left: 10px;
    right: 3px;
    bottom: 3px;
    }

    #title {
    text-align: left;
    font-style: italic;
    color: #943131;
    font-size: 15px;

    }

    #sidebar {
        font-size: 20px;
        cursor: pointer;
        float: left;
        color: #943131;
        margin-right: 10px;
    }
}